/* 説明のカード */
.card-passcode-ex {
    background-color: #ebebeb; /* カードの背景色を設定 */
}

.tags-passcode-ex{
    background-color: #3d3d3d;
    color: #ededed;
}

.tags-passcode-ex:hover{
    background-color: #212121;
}

.btn-passcode-ex::before,
.btn-passcode-ex::after {
    background-color: #3d3d3d; /* 十字ボタンの色を設定 */
}

.btn-passcode-ex:hover::before,
.btn-passcode-ex:hover::after {
    background-color: #212121; /* ホバー時のボタンの色 */
}

/* 犬のカード */
.card-dog {
    background-color: #ffffcb; /* カードの背景色を設定 */
}

.tags-dogs{
    background-color: #b1063a;
    color: #ffffcb;
}

.tags-dogs:hover{
    background-color: #7a0528;
}

.btn-dog::before,
.btn-dog::after {
    background-color: #b1063a; /* 十字ボタンの色を設定 */
}

.btn-dog:hover::before,
.btn-dog:hover::after {
    background-color: #7a0528; /* ホバー時のボタンの色 */
}

/* 海のカード */
.card-sea {
    background-color: #e6f7ff; /* カードの背景色を設定 */
}

.tags-sea{
    background-color: #007BFF;
    color: #e6f7ff;
}

.tags-sea:hover{
    background-color: #0056b3;
}

.btn-sea::before,
.btn-sea::after {
    background-color: #007BFF; /* 十字ボタンの色を設定 */
}

.btn-sea:hover::before,
.btn-sea:hover::after {
    background-color: #0056b3; /* ホバー時のボタンの色 */
}

/* 花*/
.card-flowers {
    background-color: #c7ffc9; /* カードの背景色を設定 */
}

.tags-flowers{
    background-color: #fbffaa;
    color: #9bff9f;
}

.tags-flowers:hover{
    background-color: #d8dc96;
}

.btn-flowers::before,
.btn-flowers::after {
    background-color: #fbffaa; /* 十字ボタンの色を設定 */
}

.btn-flowers:hover::before,
.btn-flowers:hover::after {
    background-color: #d8dc96; /* ホバー時のボタンの色 */
}

/*Hello World*/
.card-Hello_World {
    background-color: #f2f2f2; /* カードの背景色を設定 */
}

.tags-Hello_World{
    background-color: #5f5f5f;
    color: #f2f2f2;
}

.tags-Hello_World:hover{
    background-color: #1c1c1c;
}

.btn-Hello_World::before,
.btn-Hello_World::after {
    background-color: #5f5f5f; /* 十字ボタンの色を設定 */
}

.btn-Hello_World:hover::before,
.btn-Hello_World:hover::after {
    background-color: #1c1c1c; /* ホバー時のボタンの色 */
}
