body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.card {
    position: relative; /* ボタンの位置調整のために相対位置を指定 */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 220px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px; /* すべての角を丸くする */
}

.title {
    margin: 10px 0;
    color: #333;
    text-decoration: none;
}

.description-btn {
    position: absolute; /* ボタンを絶対位置で配置 */
    bottom: 20px; /* カードの底辺からの距離を指定 */
    right: 20px; /* カードの右端からの距離を指定 */
    width: 30px; /* ボタンの幅 */
    height: 30px; /* ボタンの高さ（幅と等しくする） */
    background-color: #F30100;
    color: white;
    border: none;
    border-radius: 5px; /* 丸みを少し付ける */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; /* テキストを中央に配置 */
    font-size: 18px; /* テキストサイズを調整 */
    padding: 0; /* 余白を無効化して中央配置を保つ */
}


.description-btn:hover {
    background-color: #B1063A;
}

/* モーダルウィンドウのスタイル */
.modal {
    display: none; /* 初期は非表示 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 必要に応じてスクロール */
    background-color: rgba(0, 0, 0, 0.5); /* 背景の半透明黒 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 画面中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* 最大幅を設定 */
    position: relative;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-description {
    white-space: pre-wrap; /* 改行を含むテキストをそのまま表示 */
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
}
